name: nim_chatkit_callkit
description: "A Flutter project for yunxin im chatkit"
version: 10.7.0
homepage: https://github.com/netease-kit/nim-uikit-flutter

environment:
  sdk: ">=2.16.1 <4.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  netease_common_ui:
     ">=10.0.0  <11.0.0"
#    path: ../../common/netease_common_ui
  netease_corekit:
     ">=1.3.0 <1.4.0"
#    path: ../../netease_corekit/netease_corekit
  nim_chatkit:
     ">=10.7.0  <10.8.0"
#    path: ../nim_chatkit
  nim_core_v2:
    ^10.9.5
#    path: ../../nim_core_v2/nim_core_v2

  netease_plugin_core_kit:
    ^10.1.0
#    path: ../../plugin/netease_plugin_core_kit

  permission_handler: ^11.0.1
  connectivity_plus: ^6.0.2
  fluttertoast: ^8.2.4
  intl: any
  flutter_svg: ^2.0.7
  yunxin_alog: ^2.0.0
    #  呼叫组件
  netease_callkit_ui: ^4.1.0
  netease_callkit: ^4.1.0

dependency_overrides:
  flutter_sound_web: null
  permission_handler: ^11.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:
  assets:
    - images/

  # To add assets to your package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/to/asset-from-package
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/to/font-from-package
